<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tus citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Citas agendadas
    </ion-list-header>
    <ion-item *ngFor="let cita of citas" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{cita.paciente}}
        </h5>
        <p>
          <ion-icon name="mail-outline"></ion-icon> {{cita.correo}}
        </p>
        <p>
          <ion-icon name="call"></ion-icon> {{cita.celular}}
        </p>
      </ion-label>
      <div item-end>
        <button ion-button clear [routerLink]="['/editar-cita/', cita.id]">
          <ion-icon name="create" style="zoom:2.0; background-color: white;"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteCita(cita.id)">
          <ion-icon name="trash" style="zoom:2.0; background-color: white"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>  
  
</ion-content>
