<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado de mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let paciente of pacientes" class="user-list">
    <ion-label>
      <h5>
        <ion-icon name="person"></ion-icon> &nbsp; {{paciente.nombre}}
      </h5>
      <p>
        <ion-icon name="call"></ion-icon> &nbsp; {{paciente.numCel}}
      </p>
      <p>
        <ion-icon name="paw"></ion-icon> &nbsp; {{paciente.nombreMascota}}
      </p>
      <p>
        <ion-icon name="paw"></ion-icon> &nbsp; {{paciente.edadMascota}}
      </p>
      <p>
        <ion-icon name="paw"></ion-icon> &nbsp; {{paciente.tipoMascota}}
      </p>
      <p>
        <ion-icon name="paw"></ion-icon> &nbsp; {{paciente.razaMascota}}
      </p>
    </ion-label>
    <div item-end>
      <button ion-button clear [routerLink]="['/editar-paciente', paciente.id]">
        <ion-icon name="create" style="zoom:2.0; background-color: white;"></ion-icon>
      </button>
      <button ion-button clear (click)="deletePaciente(paciente.id)">
        <ion-icon name="trash" style="zoom:2.0; background-color: white"></ion-icon>
      </button>
    </div>
  </ion-item>

  <ion-button type="submit" expand="block" color="dark" routerLink="../crear-pacientes">Crear Paciente</ion-button>
</ion-content>
