<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon> &nbsp; 
        <ion-input placeholder="Nombre" [(ngModel)]="datos.nombre"  type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="phone-portrait-outline"></ion-icon> &nbsp;
        <ion-input placeholder="Celular" [(ngModel)]="datos.numCel" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="paw-outline"></ion-icon> &nbsp;
        <ion-input placeholder="Nombre de la mascota" [(ngModel)]="datos.nombreMascota" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="paw-outline"></ion-icon> &nbsp;
        <ion-input placeholder='Edad de la mascota' [(ngModel)]="datos.edadMascota" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="paw-outline"></ion-icon> &nbsp;
        <ion-input placeholder="Tipo de mascota" [(ngModel)]="datos.tipoMascota" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="paw-outline"></ion-icon> &nbsp;
        <ion-input placeholder="'Raza de mascota" [(ngModel)]="datos.razaMascota" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="dark" shape="full" expand="block" (click)="saveCita()">Agendar Cita</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" shape="full" expand="block" routerLink="/doctores">Cancelar</ion-button>
        </ion-col>
      </ion-row>
      
  </ion-list>
</ion-content>